.img-perfil
{
    max-width: 200.4px;
    border: 1px solid ;  
}

body 
{
    position: relative;
}

.center 
{  
    text-align: center;
    align-items: center;
    align-content: center;
    
}

.w3-lobster 
{
    font-family: "Lobster", Sans-serif;

}
footer{

    bottom:0;
}
.overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.justify
{
text-align: justify;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span
{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}

span a
{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;  
}

span a:before,
span a:after
{
  position: absolute;
  content: "CONTATOS";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

span a:before
{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

span a:after
{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}

span a:hover
{
  transform: translateZ(-25px) rotateX(-90deg);
}



  .efeitoFloating
  {
      max-width: 200.4px;
      border: 1px solid ;  
      transform: translatey(0px);
      animation: float 5s ease-in-out infinite;
  }


@keyframes float
{
  0%{transform: translatey(0px);}
  50%{transform: translatey(+2px);}
  100%{transform: translatey(0px);}
}